.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;
}

#add-container {
    display: flex;
    gap: 1rem;
}

#add-container input {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#add-container button{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    cursor: pointer;
}

.remove{
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    cursor: pointer;
}

#add-container button:hover {
  background-color: #3e8e41; /* Darker green */
}

#places-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px; /* Adjust width as needed */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ddd;
}

.item:hover {
    background-color: #f2f2f2;
}

.remove {
    cursor: pointer;
    color: red;
}
